<!DOCTYPE html>
<html>
    <head>
        <title>Crypto BB</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tabframe.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/botframe.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='tabs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='data.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bot-form.js') }}"></script>
    </head>
    <body>
        <h1>Cypto BB</h1>

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_830a7"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "width": 980,
            "height": 610,
            "symbol": "BINANCE:BTCUSDT",
            "interval": "60",
            "timezone": "Africa/Johannesburg",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_830a7"
        }
            );
            </script>
        <!-- TradingView Widget END -->

        <!-- Container where bot will be chosen and given properties -->

        <div id='bots'>
            <h2>Bots</h2>
            <select>
                <option class="selectlinks" onclick="changeForm(event, 'rsiform')">RSI bot</option>
                <option class="selectlinks" onclick="changeForm(event, 'emaform')">EMA crossover bot</option>
            </select>
            <form class='selectcontent' id='rsiform'>
                <label>RSI Length:</label>
                <input type="number" id="rsilength">
            </form>
            <form class='selectcontent' id='emaform'>
                <label>1st EMA:</label>
                <input type="number" id="1ema">
                <label>2nd EMA:</label>
                <input type="number" id="2ema">
            </form>

        </div>
        
        <!-- Container where account information is being shown -->

        <div>
            <div class="tab">
                <button class="tablinks" id='defaultOpen' onclick="openAccount(event, 'coinaccount')" id="defaultOpen">Coin-Futures</button>
                <button class="tablinks" onclick="openAccount(event, 'usdaccount')">USD-Futures</button>  
            </div>
            <div class="tabcontent" id="coinaccount">
                <div class="account-container" id='coin-info'>
                    <div id='coin-balance'>
                        <h2>Balances</h2>
                        <table id='coinbal'>
                            {%  for balance in my_coinbalances %}
                            <tr>
                                <td>{{ balance['asset']}}</td>
                                <td>{{ balance['balance']}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                    <div id='cointrades'>
                        <h2>Trades</h2>
                        <table id='cointrade'>
                            {%  for trades in my_cointrades %}
                            <tr>
                                <td>{{ trades['symbol']}}</td>
                                <td>{{ trades['positionAmt']}}</td>
                                <td>{{ trades['entryPrice']}}</td>
                                <td>{{ trades['markPrice']}}</td>
                                <td>{{ trades['positionSide']}}</td>
                                <td>{{ trades['unRealizedProfit']}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tabcontent" id='usdaccount'>
                <div class='account-container' id='usd-info'>
                    <div id= 'usd-balance'>
                        <h2>Balances</h2>
                        <table id='usdbal'>
                            {%  for balance in my_usdbalances %}
                            <tr>
                                <td>{{ balance['asset']}}</td>
                                <td>{{ balance['balance']}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                    <div id='usdtrades'>
                        <h2>Trades</h2> 
                        <table id='usdtrade'>
                            {%  for trades in my_usdtrades %}
                            <tr>
                                <td>{{ trades['symbol']}}</td>
                                <td>{{ trades['positionAmt']}}</td>
                                <td>{{ trades['entryPrice']}}</td>
                                <td>{{ trades['markPrice']}}</td>
                                <td>{{ trades['positionSide']}}</td>
                                <td>{{ trades['unRealizedProfit']}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("defaultOpen").click();
        </script> 
    </body>
</html>